@model CustomerViewModel

<br />

<table generic
       class="panel panel-primary"

       items="@Model.ItemsJson"
       item-per-page="5"
       current-page="@Model.Page"

       table-heads="['Id @Model.Id','Name @Model.Name','Gender']"
       table-primary-key="Id"
       table-cols-number="3"
       table-show-index="true"

       active-panel="true"
       active-panel-heading="true"

       panel-heading-content="Customer"></table>

<pagination total-items="@Model.TotalItems"
            current-page="@Model.Page"
            item-per-page="@Model.ItemPerPage"
            page-query-options="{
                SearchItem:'@Model.SearchItem' ,
                searchtype:'@Model.SearchType',
                sorttype:'@Model.SortType',
                issortdescending:'@Model.IsSortDescending'}"
            page-action="Index">
</pagination>