@model CustomerViewModel
<br />

<form generic form-model="@Model.SearchSelectList" class="input-group"
      asp-controller="Table" asp-action="Index" method="get"
      disable-labels="true" disable-validations="true" disable-groups="true"
      select-data-list="{
        SearchSelectList:{
            Id:'Id',
            Name:'Name'},
      }"
      attrs-tag-from-model="{
        SearchSelectList:{select:{name:'searchtype',class:'selectpicker','data-width':'5%','data-style':'btn-success'}
        },
        SearchInput:{
            input:{ class:'form-control',name:'searchItem',placeholder:'Search...',id:'search_key',value:'',style:'max-width:100%;'}
        }
      }">
    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </span>
</form>

<br />

<table generic
       class="panel panel-primary"
       items="@Model.ItemsJson"
       item-per-page="@Model.ItemPerPage"
       current-page="@Model.Page"
       table-head-data="['Id @Model.Id','Name @Model.Name','Gender','Edit']"
       table-primary-key="Id"
       table-cols-number="5"
       attrs-tag="{
        panel_head:{class:'panel-heading',style:''},
        panel_body:{class:'panel-body',style:'color:green;'},
        thead:{style:'color:blue'},
        td_1_2:{style:'color:red;'},
       }"
       content-tag="{
        td_2_2:' hello',
        panel_head:'Customer',
        panel_body:'hello',
        td_col_4:'@Model.EditLink'
       }"></table>

<pagination total-items="@Model.TotalItems"
            current-page="@Model.Page"
            item-per-page="@Model.ItemPerPage"
            page-query-options="{
                SearchItem:'@Model.SearchItem' ,
                searchtype:'@Model.SearchType',
                sorttype:'@Model.SortType',
                issortdescending:'@Model.IsSortDescending'}"
            page-action="Index">
</pagination>