@model FormViewModel

<form asp-action="CreateNormalForm" asp-antiforgery="true">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.Id"></label>
        <input asp-for="@Model.FormModel.Id" class="form-control" />
        <span asp-validation-for="@Model.FormModel.Id"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.TextBox"></label>
        <input asp-for="@Model.FormModel.TextBox" class="form-control" />
        <span asp-validation-for="@Model.FormModel.TextBox"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.EmailTextBox"></label>
        <input asp-for="@Model.FormModel.EmailTextBox" class="form-control" />
        <span asp-validation-for="@Model.FormModel.EmailTextBox"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.PasswordTextBox"></label>
        <input asp-for="@Model.FormModel.PasswordTextBox" class="form-control" />
        <span asp-validation-for="@Model.FormModel.PasswordTextBox"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.CheckBox"></label>
        <input asp-for="@Model.FormModel.CheckBox" />
        <span asp-validation-for="@Model.FormModel.CheckBox"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.DateTimeTextBox"></label>
        <input asp-for="@Model.FormModel.DateTimeTextBox" class="form-control" />
        <span asp-validation-for="@Model.FormModel.DateTimeTextBox"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.SelectRadio"></label>
        @foreach (var item in Model.FormModel.RadioBoxList)
            {
            <input asp-for="@Model.FormModel.SelectRadio" type="radio" value="@item.Id" />@item.Name
        }
        <span asp-validation-for="@Model.FormModel.SelectRadio"></span>
    </div>
    <div class="form-group">
    </div>
    <div class="form-group">
        <label asp-for="@Model.FormModel.LevelSelectList"></label>
        <select asp-for="@Model.FormModel.LevelSelectList" asp-items="Html.GetEnumSelectList<Level>()" class="form-control"></select>
        <span asp-validation-for="@Model.FormModel.LevelSelectList"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
    <a asp-action="Index" class="btn btn-default">Cancel</a>
</form>